table {
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  table th,
  table td {
      padding: 12px 15px;
  }
  
  table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  
  table tr:nth-child(even) {
      background-color: #f3f3f3;
  }
  
  table tr:hover {
  font-weight: bold;
      color: #009879;
  }
  
  table th {
    background-color: #009879;
      color: #ffffff;
      text-align: left;
  }
  table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  
  header {
      font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
  }
  